/* Center the form horizontally and vertically */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Full viewport height */
    background-color: #f9f9f9;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Restrict the max width */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 30%;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #4f1696;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btn:hover {
    background-color: #45a049;
}
